html, body, #root, .App {
  height: 100%;
}

body {
  background-color: #323852;
  color: #9fa2af;
  height: 100%;
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "DS-DIGIB";
  src: url(  ./Timer/ds_digital/DS-DIGIB.TTF);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');