body {
    display: grid;
    padding: 0%;
    margin: 0%;

}

@font-face {
    font-family: "DS-DIGIB";
    src: url(  ./Timer/ds_digital/DS-DIGIB.TTF);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.Timer {
    position: relative;
    width: 600px;
    height: 600px;
    text-align: center;
    align-items: center;
    margin: 2.5cm auto auto auto;
    padding: 0%;
    border-radius: 50%;
}

.Title {
    position: absolute;
    left: 20%;
    top: 30%;
    font-size: 40px;
}

.Clock {
    font-family: DS-DIGIB;
    font-size: 55px;
    position: absolute;
    padding: 0%;
    margin: 0%;
    top: 48%;
    left: 40%;
}

#play-pause {
    width: 2cm;
    height: 2cm;
    left: 43.5%;
    position: absolute;
    border-radius: 50%;
    top: 70%;
    background-color: transparent;

}

#reset{
    position: absolute;
    top: 12%;
    left: 43.5%;
    border-radius: 50%;
    width: 2cm;
    height: 2cm;
    background-color: transparent;
}